<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    
      <span class="navbar-brand mb-0 h1  ">UIT VELLARADA</span>
   
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" href="#" aria-current="page">Home</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            College
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink1">
            <li><a class="dropdown-item" href="#">Organization structure</a></li>
            <li><a [routerLink]="'appaboutcollege'"  class="dropdown-item" >About College</a></li>
            <li><a class="dropdown-item" href="#">History of College</a></li>
            <li><a class="dropdown-item" href="#">Vision and Mission</a></li>
            <li><a class="dropdown-item" href="#">Contact us</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administration
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink2">
            <li><a class="dropdown-item" href="#">Principal</a></li>
            <li><a class="dropdown-item" href="#">College Council</a></li>
            <li><a class="dropdown-item" href="#">College Development Committee</a></li>
            <li><a class="dropdown-item" href="#">Grievance Redressal Cell</a></li>
            <li><a class="dropdown-item" href="#">PTA</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Academic
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink3">
            <li><a class="dropdown-item" href="#">Department</a></li>
            <li><a class="dropdown-item" href="#">Faculty Members</a></li>
            <li><a class="dropdown-item" href="#">Admission</a></li>
            <li><a class="dropdown-item" href="#">Achievement</a></li>
            <li><a class="dropdown-item" href="#">General Library</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Campus life
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink4">
            <li><a class="dropdown-item" href="#">NSS</a></li>
            <li><a class="dropdown-item" href="#">Students welfare</a></li>
            <li><a class="dropdown-item" href="#">Fee concession</a></li>
            <li><a class="dropdown-item" href="#">Rules&Regulations</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Achievement
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink5">
            <li><a class="dropdown-item" href="#">Academic</a></li>
            <li><a class="dropdown-item" href="#">Co-curricular activities</a></li>
            <li><a class="dropdown-item" href="#">Extra curricular activities</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink6">
            <li><a class="dropdown-item" href="#">New events</a></li>
            <li><a class="dropdown-item" href="#">Past events</a></li>
            
          </ul>
        </li>
      </div>
      
   
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a [routerLink]="'signin'" class="btn btn-sm btn-primary w-full w-lg-auto">
          Sign in
        </a>
      </div>
    </div>
  </div>

</nav>
